@import '../theme.scss';

html,
body {
    color: $primary-text-color;
}

html * {
    box-sizing: border-box;
}

body {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background-color: #00adff1a;
}

.container {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-content {
    width: 100%;
    padding-top: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

a {
    color: $black;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s;

    &:active,
    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: grey;
    }
}

$header-height--desktop: 80px;
$header-height--mobile: 56px;
